body {
    margin: 0;
    font-family: Georgia, serif;
}

#topcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}


#mainHeading{
    background-color: #001d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 0.1px;
    padding-bottom: 15px;
    padding-top: 10px;
}

h1{
margin: 0%;
color: rgb(255, 255, 255);
}

p {
 font-size: large ;
}

#midcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    width: 650px;
    height: 650px;
    margin-right: 35px;
}

#passwordDisplayContainer{
    display: flex;
}

#copybtn{
    height: 25px;
    width: 45px;
    margin-left: 15px;
}

#passwordDisplay {
    border: solid  0.5px black;
    border-radius: 30px;
    width: 250px;
    height: 25px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-top: 5px;
    font-family: Georgia, serif;
}

#passwordLenghtContainer{
    display: flex;
    align-items: center;
}

#passwordLenghtSelector{
    cursor: pointer;
    accent-color: #003566;
}

#passContentContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #001d3d;
    border-top: solid black 0.1px;
    color: rgb(255, 255, 255);
}

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer; 
}

input[type="checkbox"]:hover {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
}

#copybtn{
    border: solid 1px ;
    border-radius: 20px;
    background-color: #ffd60a ;
}

#copybtn:hover{
box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.generatebtn{
    border: solid 1px ;
    border-radius: 20px;
    background-color: #ffd60a ;
    padding: 5px;
}

.generatebtn:hover{
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
}